export AWS_PROFILE="altobyte"

if [ -f ".python-version" ] ; then
    if [ ! -d ".venv" ] ; then
        echo "Installing Python Virtual Enviroment"
        python3 -m venv .venv
    fi
    echo "Activating Python Environment"
    source .venv/bin/activate
fi
echo "Activated for $(python -V)"
echo "$(which python)"
